{% extends 'base.html.twig' %}

{% block title %}Intervention{% endblock %}

{% block body %}
    <h1>Intervention</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ intervention.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ intervention.date ? intervention.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>StartAt</th>
                <td>{{ intervention.startAt ? intervention.startAt|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ intervention.duration }}</td>
            </tr>
            <tr>
                <th>StopAt</th>
                <td>{{ intervention.stopAt ? intervention.stopAt|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DonePaid</th>
                <td>{{ intervention.donePaid ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_intervention_index') }}">back to list</a>

    <a href="{{ path('app_intervention_edit', {'id': intervention.id}) }}">edit</a>

    {{ include('intervention/_delete_form.html.twig') }}
{% endblock %}
