<!-- Nav -->
<nav class="container-fluid">
	<ul>
		<li>
			<a href="{{ path('app_home') }}" class="contrast">
				<i class="fas fa-head-side-virus"></i>
				<strong>Maid assist</strong>
			</a>
		</li>
	</ul>

	<ul>
		<li><a href="{{ path('app_home') }}">home</a></li>
		<li><a href="{{ path('app_intervention_index') }}">My intervention</a></li>
		<li><a href="{{ path('app_customer_index') }}">My customers</a></li>
		<li><a href="#">My finances</a></li>
		<li><a href="{{ path('admin') }}"><i class="fas fa-user"></i></a></li>
	</ul>

</nav>
<!-- ./ Nav -->
